.container{
    display: inline-block; 
	text-align: center;
}

	.underlogo{
		color: grey;
		margin-left: 20px;
	}
.title{
		text-align: center;
	}
 .title1{
		text-align: center;
	}  
	.par{
		margin-left: 100px;
		margin-right:100px;
	}
	.par1{
		margin-left: 100px;
		margin-right:100px;
	}
	.spec{
	     text-align:right;
		 margin-left: 40px;
	}.spec1{
	     text-align:right;
	}.spec2{
	     text-align:right;
	}
	.spec3{
	     text-align:right;
	}
	.spec4{
	     text-align:right;
	}
	.spec5{
	     text-align:right;
	}
.par1{
	margin-left: 100px;
	margin-right:100px;
}
h1 {
	font-family: CirceBold;
}

p {
	font-family: CirceLight;
}