<!DOCTYPE html>
<html>

<head>
    <title>Согласие</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename = 'agreement_template.css') }}">
</head>

<body>
    <p>
        <div class="container">
            <img src="{{url_for('static', filename = logo_ru.png)}}}" alt="проблемы с соединением" width="150"
                align=center hspace="20" vspace="0">
        </div>
    </p>
    <p hspace="20" vspace="0">
        <div class="underlogo">
            111033, Москва, ул.Волочаевская, д.5, к.1
            <br>
            Т: (495) 974 2274 \ Ф: (495) 974 2277
            <br>
            E-mail: info@croc.ru
            <br>
            croc.ru
        </div>
        <p></p>
        <div class="title" style="font: CirceBold;">
            <p>
                <h1>
                    Правила посещения ЦОД КРОК
        </div>
        <div class="par" style="font:  CirceLight;">
            <p>
                1)Запрещается нахождение на территории ЦОД без резмещенного на видном месте магнитного пропуска с
                бейджем и
                лентой.
                <br>
                2)Запрещается проход через двери, оборудованные СКУД, без прикладывания магитного пропуска.
                <br>
                3)Запрещается производить фотосъемку на территории ЦОД без согласования с персоналом ЦОД.
                <br>
                4)Запрещается любое воздействие на дверной механизм, приводящее к его некорректной работе.
                <br>
                5)При обнаружении пожара или признаков горения(задымление, запах гари, повышение температуры и т. п.),
                срабатывании пожарной сигнализации, необходимо незамедлительно покинуть здание в соответствии с планом
                эвакуации
                и с соблюдением мер личной безопасности.
                <br>
                6) Запрещается нахождение в машинных залах ЦОД в грязной обуви.
                <br>
                7) Запрещается проход в машинные залы ЦОД в верхней одежде.
                <br>
                8) Запрещается внос в машинные залы ЦОД:
                <br>
                a. горючей тары;
                <br>
                b. жидкостей и продуктов питания;
                <br>
                c. оборудования и комплектующих без согласования с персоналом ЦОД;
                <br>
                d. сумок, рюкзаков, портфелей.
                <br>
                9) Запрещается оставлять упаковку от оборудования и комплектующих на территории ЦОД.
                <br>
                10) Запрещается нахождение в нетрезвом состоянии и курение на территории ЦОД
                <br>
                11) Запрещается доступ к оборудованию других Заказчиков
                <br>
                12) Запрещается оставлять открытыми двери в горячие/холодные коридоры, находясь в машинном зале ЦОД, а
                также
                перед выходом из машинного зала ЦОД.
                <br>
                <br>
                Если возникают нестандартные ситуации или появляются вопросы, просьба обращаться к сотрудникам ЦОД,
                находящимся
                поблизости, либо по телефону: +7(495) 926-88-56
        </div>
        <div class="title1" style="font: CirceBold;">
            <p>
                <h1>
                    Terms of visiting Croc Data Center
                </h1>
        </div>
        <div class="par1">
            <p>
                1) Do not pass at the data center territory without magnetic passcard with neckband in sight.
                <br>
                2) Do not pass through the doors wiwh access control system without applying magnrtic passcard
                <br>
                3) Do not take photos at the data center territory without agreement with data center staff.
                <br>
                4) Do not perform any action with door mechanism leading to its incorrect opration.
                <br>
                5) Upon detection of a fire of signs of combustion (smoke, burning smell, temperature increase, etc.) or
                fire
                alarm, you must immediately leave the building according to the evacuation plan in compliance with the
                measures
                of personal security.
                <br>
                6) Do not stay in data center computer room in dirty shoes.
                <br>
                7) Do not pass in data center computer room in street clothes.
                <br>
                8) Do not bring in data center computer room:
                <br>
                a. flammable containers;
                <br>
                b. liquid and food;
                <br>
                c. equipment and components without agreement with data center staff;
                <br>
                d. bags, backpacks, briefcases.
                <br>
                9) Do not leave the package of equipment and components at the data center territory.
                <br>
                10) Do not smoke and do not be drunk at the data center territory
                <br>
                11) Do not access to equipment of other data center Customers.
                <br>
                12) Do not leave the doors open in hot/cold aisles while being in the data center computer room and
                before
                living the data center computer room.
                <br>
                <br>
                If you have any questions or unusual situations, please contact the data center staff nearby, or by
                phone:
                +7(495) 926-88-56
            </p>
        </div>
        <br>

        <div class="spec">
            <p>Дата/Date:</p>
        </div>
        <div class="spec1">
            <p>
                {{ document["VisualTime"] }}
            </p>
        </div>
        <div class="spec2">
            <p>
                Подпись/Signature:
            </p>
        </div>
        <div class="spec3">
            <form>
                <img src="{{f"/download/signature/{document['_id']}"}}" alt="Подпись">
            </form>
            <div class="spec4">
                <p>
                    Расшифровка/ Clarification of signature:
                </p>
            </div>
            <p class="spec5">
                <p>
                    <form>
                        <img src="{{f"/download/name/{document['_id']}"}}" alt="Расшифровка подписи">
                    </form>
                </p>
        </div>

</body>

</html>